nav: ul
  - var i = 0;
    while (i++ < 4)
      li style #{i}
        ul(class=`drop-menu menu-${i}`)
          li Ant
          li Dos
          li Crazy
          li Lazy
          li Nux
          li Wil
