.warp
  input.theLable(type="checkbox" id="checkbox_id")
  .page
    label.butten(for="checkbox_id") ☰
    .body
      h1 Titile
      p 2016年6月25日发布

  .nav
    ul
      li Tsst
      li Deret
      li Kkli
      li Ohyj
      li Yse
