svg {
   max-height: 100%;
}
#wrap svg {
  overflow: visible;
}
body {
	text-align: center;
}
// g path{
//   stroke: #f20321;
//   fill: none;
// }


g.tick {
  text {
    font-size: 1vw;
  }
}
#toolTip {
  position: absolute;
  color: #666;
  opacity: 1;
  padding: 4px 16px;
  background-color: rgba(255,255,255,0.9);
  border-radius: 4px;
  z-index: 100;
  transition:  all .05s;
}
.text_year {
  font-size: 120px;
  fill: #eee;
}
g.polygons {
  z-index: 10;
  path {
    stroke: #666;
    stroke-width: 1;
    fill: rgba(0,0,0,0);
    transition: all .36s;
    &:hover {
      fill: rgba(244,20,40,0.88);
      stroke: rgba(0,0,0,0);
    }
  }
}


g.dots circle {
  fill: #666;
  z-index: 100;
  $s:.2s;
  transition: fill $s, stroke $s,r $s, stroke-width $s;
  &.active {
    r: 8;
    fill: #fff;
    stroke: #666;
    stroke-width: 3;
  }
}
g.links {
  z-index: 1;
  path {
    stroke: rgba(0,0,0,0.1);
    stroke-width: 1;
  }
}
circle.dots{
  fill: url(#Rainbow);
  // fill: #333;
}

//maps
h2 {
  text-align: center;
  font-size: 3em;
  span {
    color: #ef1111;
  }
}
.maps {
  fill: #eee;
  stroke: #fff;
  stroke-width: 0.45;
  // &:hover {
  //   fill: #ccc;
  // }
  transition: all .2s;
  &.active {
    fill: #d0d0d2;
    stroke: #fff;
  }
  &.inactive {
    fill: #eee;
  }
}


circle.host {
  // fill: #ef1111;
  opacity: 0.64;
  transition: all 0.1s;
  &:hover {
    opacity: 0.9;
    stroke-width: 1;
    stroke: #fcfcfc;
    transform-origin: center;
    transform: scale(1.1);
  }
}

.years_buttons {
  .button {
    font-size: 14px;
    display: inline-block;
    margin: 0 8px;
    padding: 4px 0;
    cursor: pointer;
    transition: all .2s;
    &.active {
      border-bottom: 4px solid #ef1111;
    }
    &.inactive {
      border-bottom: 4px solid rgba(255,255,255,0);
      &:hover {
        color: #ef1111;

      }
    }
  }
}


// country
circle.country {
  fill: red;
}
text.tipText {
  fill:#999;
  font-size: 12px;
  font-weight: normal;
}

text.textYear {
  font-size: 160px;
  fill: #eee;
}
rect.selector {
  fill: #f9f9f9;
}
rect.bar {
  fill: rgba(45, 17, 97,0.52);
}
rect.overlay {
  fill: rgba(255,255,255,0);
}

#countryTip {
  // position: absolute;
  opacity: 1;
  padding: 24px 0 0 0;
  background-color: rgba(255,255,255,0.9);
  border-radius: 4px;
  z-index: 100;
  transition:  all .05s;
  font-size: 32px;
  font-weight: bold;
  color: rgba(45, 17, 97,0.64);
}
