
g path{
  stroke: #f20321;
  fill: none;
}


g.tick {
  text {
    font-size: 1vw;
  }
}
#toolTip {
  position: absolute;
  color: #666;
  opacity: 1;
  padding: 4px 16px;
  background-color: rgba(255,255,255,0.9);
  border-radius: 4px;
  z-index: 100;
  transition:  all .05s;
}

g.polygons {
  z-index: 10;
  path {
    stroke: #666;
    stroke-width: 1.5;
    fill: rgba(0,0,0,0);
    transition: all .36s;
    &:hover {
      fill: red;
      stroke: rgba(0,0,0,0);
    }
  }
}
g.dots circle {
  fill: #666;
}
g.links {
  z-index: 1;
  path {
    stroke: rgba(0,0,0,0.1);
    stroke-width: 1;
  }
}
