<!-- Section 3 - Modal--><section class="section-modal"><div class="profile"><img src="http://www.fillmurray.com/130/130"/><div class="text"><div class="name">Bill Grate</div><div class="mete">Click me!</div></div></div><div class="overlay"><div class="modal"><div class="title">Your are clicked a Murry!</div><div class="body"><div class="img" style="background-image: url(http://www.fillmurray.com/180/180);"></div><div class="text"><p>Bill Murray loves you, and sends his most sincere regards.</p><p>He also asks that you simply keep on hacking.</p></div></div></div></div></section><script src="assets/js/jquery.js"></script><script type="text/javascript">$('.section-modal .profile').click(function(){
$('.overlay').addClass('is-active');
setTimeout(function(){
  $('.overlay').removeClass('is-active');
}, 5000);
});</script>