section {
  margin: 64px 0; }

.home-wrap {
  width: 100%;
  display: block;
  min-height: 100vh; }

.flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row; }

.flex-center {
  -ms-flex-pack: center;
      justify-content: center; }

.flex-around {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.col-1 {
  max-width: 400px;
  margin: 0 20px;
  background-color: lightgreen; }

.col-2 {
  max-width: 640px;
  margin: 0 20px;
  background-color: pink; }

.col-50 {
  width: 50%;
  background: lightyellow; }

@media (max-width: 640px) {
  .flex, .flex-center {
    display: block; }
  .col-1 {
    max-width: 100%;
    width: 100%;
    margin: 0; }
  .col-2 {
    width: auto;
    margin: 0; }
  .col-50 {
    width: auto; }
  section {
    width: 100%;
    margin: 0; } }
